name: Release

on:
  release:
    types:
      - published

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          registry-url: "https://registry.npmjs.org"

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Verify tag matches package.json version
        run: |
          RELEASE_VERSION=${{ github.ref_name }}
          PACKAGE_VERSION=$(npm pkg get version | sed 's/"//g')

          if [ "$RELEASE_VERSION" != "v$PACKAGE_VERSION" ]; then
            echo "Error: GitHub release tag ($RELEASE_VERSION) does not match package.json version ($PACKAGE_VERSION)"
            exit 1
          fi

      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Publish
        run: |
          npm publish --provenance --access public --tag latest

  verify:
    needs: publish
    runs-on: ubuntu-latest
    steps:
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          registry-url: "https://registry.npmjs.org"

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Verify can install package
        run: |
          npm install @resonatehq/sdk@${{ github.ref_name }}
